target/
.idea/
*.iml
/**/.iml
/**/.DS_Store
/**/.settings/
/**/.project
/**/.classpath
**/rebel.xml
/**/externalToolBuilders/
/**/.yml
application.properties
.gitignore
rebel.xml
test/

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
